<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel ="stylesheet" href ="/css/styles.css" >
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Site users data from mapbox.com and darksky.net to get weather information</p>
        </div>
        
        {{>footer}}
    </body>
</html>